@import "tailwindcss";

@theme {
    --color-neon-blue: #00f2ff;
    --color-neon-purple: #bc13fe;
    --color-neon-green: #00ffa3;
    --color-neon-gold: #ffd700;
    --color-glass-bg: rgba(255, 255, 255, 0.05);
}

body {
    background-color: #050510;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}